In [ ]:
#Answer 1

In [5]:
#String
X = 'dsa'
print(X)
print(type(X))

dsa
<class 'str'>

In [6]:
#Tuple
X = 90,
print (X)
print(type(X))

(90,)
<class 'tuple'>

In [7]:
#List
X = [1,2,3,4,5,"dsa", True, 8.6, -1, 1j ]
print (X)
print (type(X))

[1, 2, 3, 4, 5, 'dsa', True, 8.6, -1, 1j]
<class 'list'>

In [8]:
#Float
X = 1.23
print(type(X))

<class 'float'>

In [ ]:
#Answer 2
#(i) var1 = ' ' >> This data type is String
#(ii) var2 = '[ DS , ML , Python]' >> This data type is String
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  >> This data type is List
#(iv) var4 = 1.  >> This data type is Tuple

In [34]:
#Answer 3


x = 5
y = 2

#(i) / >> Arithmatic Operator, Divides the value on the left by the one on the right. 
#Notice that division results in a floating-point value.
print('Result of Division is', x/y)


#(ii) % >> Arithmatic Operator.Modulus Divides and returns the value of the remainder.
print ('Result of Modulus is', x%y)

#(iii) // >> Arithmatic Operator, Floor Divides and returns the integer value of the quotient. 
#It ignores the digits after the decimal.
print ('Result of Floor is', x//y)


#(iv) **  >> Arithmatic Operator, Exponentiation Raises the first number to the power of the second.
print ('Result of Exponentiation is', x**y)

Result of Division is 2.5
Result of Modulus is 1
Result of Floor is 2
Result of Exponentiation is 25

In [41]:
# Answer 4

myList = [ 1, [3,4,5] , (2,4) , True , 'DSA' , 1.3 , 1+3j, b"bytes", None, {'name':'DSA', 'time': 7}]
for i in myList:
    print(i, type(i))

1 <class 'int'>
[3, 4, 5] <class 'list'>
(2, 4) <class 'tuple'>
True <class 'bool'>
DSA <class 'str'>
1.3 <class 'float'>
(1+3j) <class 'complex'>
b'bytes' <class 'bytes'>
None <class 'NoneType'>
{'name': 'DSA', 'time': 7} <class 'dict'>

In [6]:
#Answer 5
A = int(input("enter"))
B = int(input("enter"))
count = 0

while A % B == 0:
    A= A // B
    count += 1

if count > 0:
    print("A is divisible by B =", A)
    print("A can be divided by B ", count, "times.")
else:
    print("A is not divisible by B.")

enter 44
enter 4

A is divisible by B = 11
A can be divided by B  1 times.

In [12]:
#Answer 6

myList = [2,33,3,45,56,55,60,90,47,48,25,15,27,29,32,42,59,63,65,79,73,72,44,66,78]
divisor = 3

for i in myList:
    if i%divisor == 0:
        print(i ,"is divisible by", divisor)
    else:
        print(i ,'is not divisible by', divisor)

2 is not divisible by 3
33 is divisible by 3
3 is divisible by 3
45 is divisible by 3
56 is not divisible by 3
55 is not divisible by 3
60 is divisible by 3
90 is divisible by 3
47 is not divisible by 3
48 is divisible by 3
25 is not divisible by 3
15 is divisible by 3
27 is divisible by 3
29 is not divisible by 3
32 is not divisible by 3
42 is divisible by 3
59 is not divisible by 3
63 is divisible by 3
65 is not divisible by 3
79 is not divisible by 3
73 is not divisible by 3
72 is divisible by 3
44 is not divisible by 3
66 is divisible by 3
78 is divisible by 3

In [21]:
# Answer 7
### Mutable data type are the ones which cam be modified after thier creation. List,Dictionaries,Sets are
#few data types which can be modified/appended even after creation.
myList = [1,2,3,4]
mySet = {2,3,4}
myDict = {"name":"dsa","time":7}

myList.append(5)
mySet.add(6)
myDict["duration"]= "months"
print(myList, mySet, myDict)


### Immutabel data types are the ones which cannot be modified after there creation. Any modification will 
## will result in creation new object with updated value. Numbers, Strings, Tuples, Frozensets are
# few examples of immutable data types.
myInt = 3
myName = 'dsa'
myTuple = 2,

# myInt.apend(2) #AttributeError: 'int' object has no attribute 'apend'

newInt = myInt + 2
newName = myName + 'new DSA'
print(newInt, newName)

[1, 2, 3, 4, 5] {2, 3, 4, 6} {'name': 'dsa', 'time': 7, 'duration': 'months'}
5 dsanew DSA